{% extends "layout.html" %}

{% block title %}
   Quote
{% endblock %}

{% block main %}
                            <h1>{{ stocks.name }}</h1>
                            <p>{{ stocks.symbol }}</p>
                            <p>{{ stocks.price | usd }} </p>
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Check Price</button>
    </form>
{% endblock %}
